/* Color Palette */

:root {
    --rich-blue: #3498db;
    --sunflowe-yellow: #f39c12;
    --crimson-red: #e74c3c;
    --charcoal-black: #1e1e1e;
    --light-gray: #f5f5f5;
    --emerald-green: #27ae60;
    --background-color2: #1c1f22;

}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

body {
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

/* Header */

header {

    background-color: var(--charcoal-black);
    color: var(--light-gray);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    top: 0;
}

.welcome-box p {
    color: var(--crimson-red);
}

/* Nav */

.nav-container {

    background-color: var(--charcoal-black);
    opacity: 85%;
    height: 120px; 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 999;

}

#navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}

.navbar-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}

@media only screen and (max-width: 720px) {
    .nav-link {
        font-size: 1.5em;
    }
}    

nav a {
    text-decoration: none;
    color: var(--sunflowe-yellow);
}

nav a:hover {
    filter: brightness(150%);
}


/* WELCOME SECTION */

.welcome-box {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    top: 120px;
    color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 720px) {
    .welcome-box {
        flex-direction: column;
        justify-items: center;
    }
}


.mypic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 10px 0px 10px 200px;
    border: var(--emerald-green) 2px solid;
    animation: picture 10s ease-in-out infinite;

    
}

@keyframes picture {
    0% {
        transform: rotate(0deg);
    }

    25% {
        border: var(--sunflowe-yellow) 2px solid;
    }

    50% {
        border: var(--crimson-red) 2px solid;
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 720px) {
    .mypic {
        height: 200px;
        width: 200px;
    }
}
#welcome-section {
    margin-left: 200px;

}

.welcome-box > section > h1 {
    font-size: 5em;
    line-height: 0;
}

@media only screen and (max-width: 720px) {
    .welcome-box > section > h1 {
        font-size: 2em;
    }
}   

.welcome-box p {
    font-style: italic;
}

@media only screen and (max-width: 720px) {
    .welcome-box p { 
        font-size: 16px
    }
} 

/* PROJECTS SECTION */

.projects {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 100vh;
    background-color: var(--background-color2);
    color: var(--light-gray);
    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 2em;
    border-top: black 2px solid;
}

.projects-header {
    text-align: center;
    margin-bottom: 2em ;
    padding: 2em;
}

.box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 50px;
    justify-items: center;
}

@media only screen and (max-width: 720px) {
    .box-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

.box {
    border: black 5px solid;
    width: 640px;
    height:calc(360px+1em);
    justify-items: center;
    text-align: center;
    border-radius: 10%;
    opacity: 70%;

}

.box:hover {
    opacity: 100%;
    filter: blur(0);
}

.box:hover > .projectimg {
    filter: blur(0);
}

.box:hover > .project-title {
    color: var(--crimson-red);
}

.projectimg {
    width: 639px;
    height: 359px;
    align-items: center;
    text-align: center;
    border-radius: 10% 10% 0% 0%;
    filter: blur(8px);
    transition: 0.5s ease-in-out;
}

.project-title {
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    
}

.btn {
    width: 0.5em;
    height: 5em;
    background-color: var(--sunflowe-yellow);
    border: black 3px solid;
    text-decoration: none;
    color: var(--charcoal-black);
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

/* CONTACTS */

.contacts {
    position: absolute;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100vw;
    height: 100vh;
    margin-top: 260vh;
    padding: 2em;
    background-color: var(--charcoal-black);
    color: var(--light-gray);
    border-top: black 2px solid
}

@media only screen and (max-width: 720px) {
    .contacts {
        margin-top: 405vh;
    }
}

form {
    display: grid;
    width: 35vw;
    grid-template-columns: 1fr;
    border: black 2px solid;
    padding: 1.5em;
    margin-top: 2em;
   align-items: center;

}

form label {
    padding-top: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

form input {
    width: 30vw;
    height: 1em;
    font-size: 1.5em;
    background-color: var(--background-color2);
    color: var(--light-gray);
    border: black 2px solid;
    border-radius: 8px;
    padding: 2px;
}

form input:last-of-type {
    margin-bottom: 1em;
}

.socials {
    height: 100vh;
}

.contactinfo {
    padding: 1.5em;
    margin-top: 2em ;
}

.cititles {
    border-bottom: var(--light-gray) 2px solid;
}

.contact-button {
    width: 4em;
    height: auto;
    margin-top: 2em;
    padding: 4px;
    text-align: center;
    justify-self: center;
    font-family: 'Oswald', sans-serif ;
    border-radius: 20%;
    text-transform: uppercase;
}

footer {
    border-top: black 2px solid;
    background-color: var(--sunflowe-yellow) ;
    position: absolute;
    margin-top: 360vh;
    width: 100vw;
    height: 120px;
    padding-left: 2em;
    overflow: hidden;

}

@media only screen and (max-width: 720px) {
    footer {
        margin-top:505vh;
}
}

.icons {
    letter-spacing: .2rem;
    float: left
}

.icons a {
    text-decoration: none;
    color: var(--charcoal-black)
}

i {
    color: var(--charcoal-black);
}

.signature {
    float: right;
    padding-right: 4em;
    line-height: 1.6;
}